.next-btn {
    background-color: green;
    padding-left: 2%;
    padding-right: 2%;
    /*margin-top: 1%;*/
    margin-left: 78%;
}

.taken-btn {
    background-color: green;
    color: white;
    border: none;
}

.CSClasses {
    list-style-type: none;
    margin-left: 16%;
    margin-right: 16%;

}

#CompSciClass {
    padding-bottom: 1%;
}

#headers {
    padding-left: 21%;
    padding-bottom: 1%;
    margin-top: 0;
    padding-top: 0;
}


.CourseNo {
    /*margin-left: 2%;*/

}

.note {
    margin-top: 1%;
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: justify;
    font-family: Raleway;
}

.course_numb {
    padding-left: 6%;
}

.selectedBtn {
    background-color: black;
}

.major-header {
    text-align: center;
    margin-top: 2%;
    font-family: Raleway;
    font-weight: bold;
}

.buttonDiv{
    padding-left: 200px;
    margin: auto;
}

#course_list .row{
    padding-top: 20px;
}

.CourseName{
    margin-left: 1%;
}