.dashHeading h2{
    align-content: center;
    text-align: center;
    padding-top: 2%;
}
.dashHeading .card{
    margin: auto;
    max-width: 40%;
    border-width: 2px;
    border-color: darkred;
    padding: 2%;
}
.itemTitles{
    padding-top: 2%;
    padding-bottom: 2%;
}